<div class="w3l-hotair-form">
  <h1>HireFest Signup</h1>
  <div class="container">
    <div class="workinghny-form-grid">
      <div class="main-hotair">
        <div class="content-wthree">
          <h2>Create an account</h2>
          <div class="sub-main">
            <form [formGroup]="service.signupFormModel" (ngSubmit)="onSubmit()" novalidate>
              <div>
                <input placeholder="First Name" formControlName="Fname" class="name" type="text" required="">
                <div
                  *ngIf="service.signupFormModel.controls.Fname.errors && service.signupFormModel.controls.Fname?.touched"
                  class="text-danger">
                  <div *ngIf="service.signupFormModel.controls.Fname.errors.required">First Name is required</div>
                </div>
              </div>

              <div>
                <input placeholder="Last Name" formControlName="Lname" class="name" type="text" required="">
                <div
                  *ngIf="service.signupFormModel.controls.Lname.errors && service.signupFormModel.controls.Lname?.touched"
                  class="text-danger">
                  <div *ngIf="service.signupFormModel.controls.Lname.errors.required">Last Name is required</div>
                </div>
              </div>

              <div>
                <input placeholder="Phone Number" formControlName="PhnNum" class="number" type="text"
                  pattern="[789][0-9]{9}" maxlength="10" title="Please enter exactly 10 digits" required="">
                <div
                  *ngIf="service.signupFormModel.controls.PhnNum.errors && service.signupFormModel.controls.PhnNum?.touched"
                  class="text-danger">
                  <div *ngIf="service.signupFormModel.controls.PhnNum.errors.required">Phone number is required</div>
                  <div *ngIf="service.signupFormModel.controls.PhnNum.errors.pattern">Enter 10 digit Mobile Number</div>
                </div>
              </div>

              <div>
                <input placeholder="Email Id" formControlName="Email" class="email" type="email"
                  title="Please enter a valid id" required="">
                <div
                  *ngIf="service.signupFormModel.controls.Email.errors && service.signupFormModel.controls.Email?.touched"
                  class="text-danger">
                  <div *ngIf="service.signupFormModel.controls.Email.errors.required">Email is required</div>
                  <div *ngIf="service.signupFormModel.controls.Email">Email must be valid</div>
                </div>
              </div>

              <div>
                <input placeholder="Password" formControlName="Password" class="pass" type="password" minlength="6"
                  required="">
                <div
                  *ngIf="service.signupFormModel.controls.Password.errors && service.signupFormModel.controls.Password?.touched"
                  class="text-danger">
                  <div *ngIf="service.signupFormModel.controls.Password.errors.required">Password is required</div>
                  <div *ngIf="!service.signupFormModel.controls.Password.errors?.minLength">Password shoud be at least 6
                    characters</div>
                </div>
              </div>
              <button class="btn" type="submit" [disabled]="!service.signupFormModel.valid">Sign Up</button>
            </form>
          </div>
          <p class="account">Have an account? <a (click)="goToLogin()">Login</a></p>
        </div>
        <div class="w3l_form align-self" style="background-color:white">
          <div class="left_grid_info">
            <img src="/assets/img/2.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
